.footer {
  background-color: #bb38a6;
  color: white;
  padding: 20px 0;
  text-align: left;
}

.footer-container {
  background-color: #bb38a6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-text {
  display: flex;
  flex-direction: column;
}

.footer-social {
  display: flex;
  align-items: center;
}

.list-in-line {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-in-line li {
  display: inline;
  padding: 0 10px;
}

.list-in-line i {
  font-size: 16px;
  color: white;
}

.list-in-line i:hover {
  color: black;
}

/* Медиа-запрос для экранов шириной менее 700px */
@media (max-width: 700px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-social {
    align-items: flex-start;
    margin-top: 20px;
  }

  .list-in-line li {
    display: block;
    padding: 5px 0;
  }
}
