.list-in-line {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-in-line li {
  display: inline;
  padding: 0 10px; /* Уменьшаем отступы */
}

.list-in-line i {
  font-size: 24px; /* Уменьшаем размер иконок */
  color: white; /* Добавляем цвет */
}

.list-in-line i:hover {
  color: black;
}

/* Медиа-запрос для экранов шириной менее 700px */
@media (max-width: 700px) {
  .list-in-line li {
    display: block; /* Располагаем иконки в столбик */
    padding: 5px 0; /* Добавляем отступы между иконками */
  }
}
